body{
	background:white;
	margin:0px;
}
.container{
    width:100vw;

}
#topBorder{
	height:15%;
}
#input{
	background:white;
	margin:5px;
	padding: 3px;
}
#keyInput{
	margin-bottom: 5px;
}
#textInput{
    
}
#output{
	word-wrap:break-word;
}

